.animate{
    animation: dangle 4s ease-in-out infinite alternate;
    position: relative;
}

.pin{
    position: absolute;
    top: 0;
    left: 50%;
    width: 4rem;
    height: 4rem;
    transform: translateX(-50%);
}


@keyframes dangle{
    0%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(2deg);
    }
}