.image{
    position: relative;
}

.realImage{
    position: absolute;
    top: 0;
}

.bottomNavigation{
    box-shadow:0 -10px 10px rgba(0,0,0,.2)
}

/* .navItem > .active {
    display: none;  
} */
